src/main/resources/service-api-definition/Device-Schemes/device-general.xsd

<?xml version="1.0" encoding="UTF-8"?>
<s:schema xmlns:s="http://www.w3.org/2001/XMLSchema"
          xmlns="http://www.dasanzhone.com/namespace/deviceservice/general"
          xmlns:datatypes="http://www.dasanzhone.com/namespace/deviceservice/datatypes"
          xmlns:general="http://www.dasanzhone.com/namespace/deviceservice/general"
          targetNamespace="http://www.dasanzhone.com/namespace/deviceservice/general"
          elementFormDefault="qualified"
          version="1.0">
      
      <s:import namespace="http://www.dasanzhone.com/namespace/deviceservice/datatypes"
                schemaLocation="device-datatypes.xsd"/>
      
      <s:element name="GetDeviceInformation">
        <s:complexType>
        	<s:sequence>
	          <s:element minOccurs="0" maxOccurs="1" name="ZIP" type="s:string"/>
	        </s:sequence>
	    </s:complexType>
      </s:element>
      
      <s:element name="GetDeviceInformationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDeviceInformationResult" type="general:DeviceInformationReturn"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      
      <s:complexType name="DeviceInformationReturn">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean"/>
          <s:element minOccurs="0" maxOccurs="1" name="ResponseText" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="DeviceOverviewPdf" type="datatypes:DeviceOverviewPdf"/>
        </s:sequence>
      </s:complexType>
      
      <s:element name="GetCityForecastByZIP">
        <s:complexType>
          <s:sequence>
          	<s:element minOccurs="0" maxOccurs="1" name="ForecastRequest" type="general:ForecastRequest"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      
      <s:element name="GetCityForecastByZIPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCityForecastByZIPResult" type="general:ForecastReturn"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      
      <s:complexType name="ForecastRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ZIP" type="s:string"/>
          <s:element name="flagcolor" type="s:string"/>
          <s:element name="productName" type="datatypes:ProductName" />
		  <s:element name="ForecastCustomer" type="general:ForecastCustomer"/>
        </s:sequence>
      </s:complexType>
      

	  <s:complexType name="ForecastCustomer">
	    <s:sequence>
	      <s:element name="Age" type="s:int"/>
	      <s:element name="Contribution" type="s:int"/>
	      <s:element name="MethodOfPayment" type="s:string"/>
	    </s:sequence>
	  </s:complexType>

      
      <s:complexType name="ForecastReturn">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean"/>
          <s:element minOccurs="0" maxOccurs="1" name="ResponseText" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="DeviceStationCity" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="ForecastResult" type="datatypes:ArrayOfForecast"/>
        </s:sequence>
      </s:complexType>
      
      <s:element name="GetCityDeviceByZIP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ForecastRequest" type="general:ForecastRequest"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      
      <s:element name="GetCityDeviceByZIPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetCityDeviceByZIPResult" type="general:DeviceReturn"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      
      <s:complexType name="DeviceReturn">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean"/>
          <s:element minOccurs="0" maxOccurs="1" name="ResponseText" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="DeviceStationCity" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="DeviceID" type="s:short"/>
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Temperature" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="RelativeHumidity" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Wind" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Pressure" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Visibility" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="WindChill" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Remarks" type="s:string"/>
        </s:sequence>
      </s:complexType>
      
      <s:element name="ForecastReturn" nillable="true" type="general:ForecastReturn"/>
      
      <s:element name="DeviceReturn" type="general:DeviceReturn"/>
      

    <s:complexType name="NetworkDeviceReturn">
    	<s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean"/>
          <s:element minOccurs="0" maxOccurs="1" name="ResponseText" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="NetworkDevice" type="datatypes:NetworkDevice"/>
        </s:sequence>
    </s:complexType>

    <s:element name="NetworkDeviceReturn" type="NetworkDeviceReturn"></s:element>

    <s:element name="GetNetworkDeviceById">
    	<s:complexType>
        	<s:sequence>
	          <s:element minOccurs="0" maxOccurs="1" name="DeviceId" type="s:string"/>
	        </s:sequence>
	    </s:complexType>
    </s:element>
    
    <s:element name="GetNetworkDeviceByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNetworkDeviceByIdResult" type="general:NetworkDeviceReturn"/>
          </s:sequence>
        </s:complexType>
    </s:element>

	  <s:complexType name="OntInput">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="OntInterface" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="OntSlot" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="OntPort" type="s:string"/>

          <s:element minOccurs="0" maxOccurs="1" name="SwVerPland" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="SwDnloadVersion" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Sernum" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="FecUp" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="EnableAes" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="PlndVar" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="OpticsHist" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Berint" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Provversion" type="s:string"/>

          <s:element minOccurs="0" maxOccurs="1" name="AdminState" type="s:string"/>

          <s:element minOccurs="0" maxOccurs="1" name="PlannedCardType" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Plndnumdataports" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Plndnumvoiceports" type="s:string"/>

          <s:element minOccurs="0" maxOccurs="1" name="AutoDetect" type="s:string"/>
          
        </s:sequence>
    </s:complexType>

    <s:complexType name="CommonOperationReturn">
    	<s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean"/>
          <s:element minOccurs="0" maxOccurs="1" name="ResponseText" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string"/>
        </s:sequence>
    </s:complexType>

    <s:element name="DeclareOntId">
    	<s:complexType>
        	<s:sequence>
				<s:element minOccurs="0" maxOccurs="1" name="OntInput" type="general:OntInput"/>
	        </s:sequence>
	    </s:complexType>
    </s:element>
    
    <s:element name="DeclareOntIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeclareOntIdResult" type="general:CommonOperationReturn"/>
          </s:sequence>
        </s:complexType>
    </s:element>

    <s:element name="ActivateDeactivateOntId">
    	<s:complexType>
        	<s:sequence>
				<s:element minOccurs="0" maxOccurs="1" name="OntInput" type="general:OntInput"/>
	        </s:sequence>
	    </s:complexType>
    </s:element>
    
    <s:element name="ActivateDeactivateOntIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActivateDeactivateOntIdResult" type="general:CommonOperationReturn"/>
          </s:sequence>
        </s:complexType>
    </s:element>

    <s:element name="DeclarePpptpCard">
    	<s:complexType>
        	<s:sequence>
				<s:element minOccurs="0" maxOccurs="1" name="OntInput" type="general:OntInput"/>
	        </s:sequence>
	    </s:complexType>
    </s:element>
    
    <s:element name="DeclarePpptpCardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeclarePpptpCardResult" type="general:CommonOperationReturn"/>
          </s:sequence>
        </s:complexType>
    </s:element>

    <s:element name="ConfigureUniLanPorts">
    	<s:complexType>
        	<s:sequence>
				<s:element minOccurs="0" maxOccurs="1" name="OntInput" type="general:OntInput"/>
	        </s:sequence>
	    </s:complexType>
    </s:element>
    
    <s:element name="ConfigureUniLanPortsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConfigureUniLanPortsResult" type="general:CommonOperationReturn"/>
          </s:sequence>
        </s:complexType>
    </s:element>
</s:schema>